/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #fffef8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 22px;
	font-size: 1.2em;
}

li:hover,
a:hover {
	color: #B1663C;
}

nav a {
	text-decoration: none;
	color: #000000;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	position: relative;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* CSS rajoute a la page d'accueil */
.edit-mode {
	background-color: black;
	height: 59px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 16px;
	display: none;
}

.edit-mode svg {
	width: 15px;
}

.edit-works {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 16px;
	align-items: baseline;
	justify-content: center;
	position: absolute;
	top: 9px;
	right: 350px;
	display: none;
}

.edit-works svg {
	width: 15px;
}

.edit-works a {
	text-decoration: none;
	font-family: "work sans";
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery caption {
	font-size: 13px;
	font-weight: 400;
	font-family: 'work sans';
	text-wrap: nowrap;
	margin-top: 5px;
}

.categories {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	margin-bottom: 30px;
}

.btn-category {
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	height: 37px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	font-family: 'Syne', sans-serif;
	background-color: #fffef8;
	padding: 0px 15px;
	cursor: pointer;
	display: inline;
}

.category-selected {
	background-color: #1D6154;
	color: #fffef8;
}


/* CSS de la modale*/
* {box-sizing: border-box;}

.modale{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	animation: fadeIn .3s both;
}

.modale-wrapper {
	overflow: auto;
	background-color: white;
	width: 630px;
	padding: 20px;
	max-width: cacl(100vw - 20px);
	max-height: calc (100vh - 20px);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.close {
	display: flex;
	justify-content: end;
}

.js-close-modal {
	cursor: pointer;
	font-size: 24px;
}

.close-add {
	font-size: 24px;
}

.delete-work {
	position: absolute;
	right: 4px;
	top: 4px;
	color: white;
	padding: 4px;
	background-color: black;
	border-radius: 2px;
	font-size: 10px;
	cursor: pointer;
}

.message-deleted {
	display: none;
}

.title-modal {
	font-family: "work sans", sans-serif;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
}

.gallery-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 25px 5px;
	padding-bottom: 60px;
	margin: 46px 79px 40px 100px;
	border-bottom: 1px #b3b3b3 solid;
}

.modal-img {
	width: 78px;
	height: 104px;
	object-fit: cover;
}

.figure-modal {
	position: relative;
}

.add-photo {
	border: none;
	background-color: #1D6154;
	height: 36px;
	width: 237px;
	border-radius: 60px;
	color: white;
	font-family: "syne", sans-serif;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}




#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em 93px;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* CSS rajoute a la page de connexion */

.login{
	font-weight: 600;
}

.formulary-login{
	width: 50%;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 270px;
}

.formulary-login h2{
	text-align: center;
}

.formulary-form{
	text-align: left;
	display: flex;
	flex-direction: column;
	margin-top: px;
}

.formulary-form label{
	margin-bottom: 7px;
	margin-top: 30px;
}

.formulary-form input {
	height: 50px;
	font-size: 1.2rem;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
}

.formulary-form #submit{
	height: 36px;
	font-size: 14px;
	margin-top: 37px;
}

.formulary-login p {
	text-align: center;
	text-decoration-line: underline;
	cursor: pointer;
	color: #3D3D3D;
	font-size: 14px;
	font-weight: 500;
}

.submit-disabled{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: rgb(168, 168, 168);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.error-mail {
	color: red;
	font-weight: 700;
	margin-top: 6px;
	display: none;
}

.error-password {
	color: red;
	font-weight: 700;
	margin-top: 6px;
	display: none;
}

.modal-add {
	display: none;
	flex-direction: column;
	height: 708px;
}

.return-and-close {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.return {
	margin-top: 26px;
	margin-left: 30px;
	font-size: 24px;
	cursor: pointer;
}

.form-photo{
	display: flex;
	flex-direction: column;
	margin: 0 76px;
}

.add-new-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e8f1f6;
	width: 420px;
	height: 169px;
	margin-top: 36px;
	margin-bottom: 9px;
	border-radius: 3px;
}

.content-add-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.picture{
	font-size: 76px;
	color: #b9c5cc;
}

.btn-add-new-photo {
	background-color: #b9c5cc;
	color: #306685;
	padding: 10px 33px;
	margin-top: 6px;
	border-radius: 50px;
	cursor: pointer;
	transition: transform;
	font-family: "Work sans";
	font-size: 14px;
	font-weight: 500;
}

.btn-add-new-photo:hover {
	transform: scale(1.1);
}

#file {
	visibility: hidden;
}

.type-file {
	font-size: 10px;
	color: #444;
	margin-bottom: 6px;
	margin-top:-13px ;
}

.title-categorie{
	color: #3D3D3D;
	margin-top: 25px;
	margin-right: 19px;
	padding-bottom: 47px;
	border-bottom: 1px solid #b3b3b3;
	font-family: "Work sans";
	font-size: 14px;
	font-weight: 500;
}

#title-photo, #categorie-photo {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
	font-size: 1rem;
	color: #444444;
	font-size: 14px;
	font-family: "Work sans";
	font-weight: 400;
}

#title-photo {
	margin-bottom: 21px;
}



#btn-valid {
	width: 237px;
	height: 36px;
	border: none;
	margin-top: 32px;
	margin-bottom: 45px;
}

.modal-deleted {
	display: flex;
}
